<?xml version="1.0" encoding="utf-8"?>
  <manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.octabytes.bigdot" android:versionCode="1" android:versionName="1.0">
  	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16" />

  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  	<uses-permission android:name="android.permission.GET_TASKS"/>

  	<!--for saving file or data on device used in camera, screenshot, speech recognizer and save and audio record -->
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	<!--for saving file or data on device used in camera, screenshot, speech recognizer and save and audio record -->

  	<!--Camera-->
  	<uses-permission android:name="android.permission.CAMERA" />
  	<uses-feature android:name="android.hardware.camera" />
  	<uses-feature android:name="android.hardware.camera.autofocus" />
  	<uses-feature android:name="android.hardware.camera.front"/>
  	<!--Camera-->

  	<!--RecordAudio also used by SpeechRecognizer-->
  	<uses-permission android:name="android.permission.RECORD_AUDIO" />
  	<!--RecordAudio-->

  	<!--wifi state -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  	<!--wifi state -->

    <application>
  	  <activity android:label="@string/app_name" android:name="com.octabytes.bigdot.camera.CustomCameraActivity">
    </activity>

    <activity
      android:label="@string/app_name"
      android:name="com.octabytes.bigdot.image.ImageCustomActivity">
    </activity>

    <!-- <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" /> -->
  </application>
</manifest>
